footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--nav-bg-color);
  height: 200px;
}

.credits {
  margin-bottom: 30px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.credits span {
  color: var(--description-text-color);
}

.copyright {
  margin-top: 30px;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 12px;
  text-align: center;
}

.copyright span {
  color: var(--description-text-color);
}

.longer-footer {
  display: none;
}

@media (min-width: 768px) {
  footer {
    height: 120px;
    padding-left: 10%;
    padding-right: 10%;
  }

  .mobile-footer {
    display: none;
  }

  .longer-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .credits {
    text-align: left;
    margin-bottom: 15px;
  }

  .copyright {
    margin-top: 0;
  }
}

@media (min-width: 1150px) {
  footer {
    height: 140px;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}